{# @var wineCountry \AdminBundle\Entity\CmsPage #}
{# @var maxSort int #}
<div class="btn-group" role="group">
    {% if wineCountry.sort != 0 %}
        <a href="{{ path('wine_country_sort', {'id': wineCountry.id, 'direction': 'up'}) }}" class="btn btn-default" data-toggle="tooltip" title="Przenieś wyżej">
            <span class="glyphicon glyphicon-arrow-up"></span>
        </a>
    {% endif %}
    {% if wineCountry.sort != maxSort %}
        <a href="{{ path('wine_country_sort', {'id': wineCountry.id, 'direction': 'down'}) }}" class="btn btn-default" data-toggle="tooltip" title="Przenieś niżej">
            <span class="glyphicon glyphicon-arrow-down"></span>
        </a>
    {% endif %}
    {% if wineCountry.sort != 0 %}
        <a href="{{ path('wine_country_sort', {'id': wineCountry.id, 'direction': 'first'}) }}" class="btn btn-default">
            <small>Przenieś na początek</small>
        </a>
    {% endif %}
    {% if wineCountry.sort != maxSort %}
        <a href="{{ path('wine_country_sort', {'id': wineCountry.id, 'direction': 'last'}) }}" class="btn btn-default">
            <small>Przenieś na koniec</small>
        </a>
    {% endif %}
</div>